body{
    background-color:lightgray;
}
h1 {
    color: blueviolet;
    text-align: center;
    border-color: rgb(112, 65, 7);
}
p {
    text-align: center;
    font-size : 35px;
}

main {
    font-size: 25px;
    border-color: blue;
    margin-top: 10%;
    background-color: aqua;

}

header {
    background-color: aquamarine;
}

nav {
    color: crimson;
}
ol {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    border: 20px;
}

img {
    border: 50px solid green;
    
    margin: 20px;
  
    float: right;
}

h2 {
    text-align: center

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111111;
  }

  ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e78787;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #9e0909;
  }



  body {
    background-color: greenyellow;
  }
  @media only screen and (min-width:768px){
    body {
      background-color: lightgray;
    }
  }